<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
<h1>Team Name: 
<font color="red" size: "2em";
><%=@name %></font><br>
Coach:
<font color="red"><%=@coach %></font><br>
Point Guard: 
<font color="red"><%=@pg %></font><br>
Shooting Guard:
<font color="red"><%=@sg %></font><br>
Small Forward:
<font color="red"><%=@sf %></font><br>
Power Forward:
<font color="red"><%=@pf %></font><br>
Center:
<font color="red"><%=@c %></font><br>
</h1>

 </body>
</html>


